<!DOCTYPE html>
<html>

<head>
    <title>cc</title>
</head>

<body>
    <h1>CLASSIFACTION</h1>
    <h2>I.只知一種</h2>
    <h2>II.知道兩種</h2>
    <h2>III.三種都知道</h2>
    <form method="POST" action="/ccresult">
        <p>Age <input name="age"></input></br></p>
        <p>Income <input name="income"></input></br></p>
        <p>Seniority <input name="seniority"></input></br></p>
        <input type="submit"></input>
    </form>
</body>
<a href="/">首頁</a></br> 
<a href="/class1">知一項</a></br> 
<a href="/class2">知兩項</a></br>
<a href="/cluster">知三項，直接跑分群</a></br>

</html>