<!DOCTYPE html>
<html>

<head>
    <title>CLASSIFACTION</title>
</head>

<body>
    <h1>CLASSIFACTION</h1>
    <h2>II.知2種，更能知道推薦什麼？</h2>

    <form method="POST" action="/class2ageincome">
        <p>Age
            <input name="age"></input>
            Income
            <input name="income"></input>
            <input type="submit"></input>
        </p>
        </br>
    </form>

    <form method="POST" action="/class2ageseniority">
        <p>Age
            <input name="age"></input>
            Seniority
            <input name="seniority"></input>
            <input type="submit"></input>
        </p>
        </br>
    </form>


    <form method="POST" action="/class2incomeseniority">
        <p>Income
            <input name="income"></input>
            Seniority
            <input name="seniority"></input>

            <input type="submit"></input>
        </p>
        </br>
    </form>

</body>
<a href="/">首頁</a></br> 
<a href="/class1">知一項</a></br> 
<a href="/class2">知兩項</a></br>
<a href="/cluster">知三項，直接跑分群</a></br>
</html>