<!DOCTYPE html>
<html>

<head>
    <title>CLASSIFACTION</title>
</head>

<body>
    <h1>CLASSIFACTION</h1>
    <h2>I.只知一種，也能快速知道推薦什麼？</h2>

    <form method="POST" action="/class1age">
        <p>Age
            <input name="age"></input>
            </br>
        </p>
        <p>Income
            <input name="income"></input>
            </br>
        </p>
        <p>Seniority
            <input name="seniority"></input>
            </br>
        </p>
        <input type="submit"></input>
    </form>


    <!-- <form method="POST" action="/class1_income">
        <p>Income  <input name="income"></input><input type="submit"></input></br></p>
    </form> 
    <form method="POST" action="/seniority">
        <p>Seniority  <input name="seniority"></input><input type="submit"></input></br></p>
    </form>  -->

    <!-- <p>Income  <input name="income"></input><input type="submit"></input></br></p>
        <p>Seniority  <input name="seniority"></input><input type="submit"></input></br></p>
        <input type="submit"></input> -->

</body>

</html>