<!DOCTYPE html>
<html>

<head>
    <title>Cluster</title>
</head>

<body>
    <h1>三種都知道==>直接分群</h1>

    <h2>Age 請輸入 18~80之間</h2>
    
    <form method="POST" action="/clusterresult">
        <p>Age
            <input name="age"></input>
            </br>
        </p>
        <p>Income
            <input name="income"></input>
            </br>
        </p>
        <p>Seniority
            <input name="seniority"></input>
            </br>
        </p>
        <input type="submit"></input>
    </form>
</body>

</html>