<!DOCTYPE html>
<html>

<head>
    <title>My Webpage</title>
</head>

<body>
    <title>Hello from Flask</title>
    <a href="/">回到上一頁</a>
    <br/> {% if name %}
    <h1>Hello {{ name }}!</h1>
    {% else %}
    <h1>Hello Thoughts!</h1>
    {% endif %}
    <form method="POST" action="/recommend">
        <p>推薦測試-輸入單篇文章</p>
        <textarea textarea rows="10" cols="90" name="context"></textarea><br>
        <button type="submit">送出</button>
        <button type="reset">清空</button>
    </form>
    <hr>
    <form method="POST" action="/predictType">
        <p>類型預測-輸入單篇文章</p>
        <textarea textarea rows="10" cols="90" name="context"></textarea><br>
        <button type="submit">送出</button>
        <button type="reset">清空</button>
    </form>
    <hr>
    <form method="POST" action="/cluster">
        <p>新文聚類-輸入查詢字</p>
        <input type="text" name="words"><br>
        <button type="submit">送出</button>
        <button type="reset">清空</button>
    </form>
</body>

</html>